.e404-tab {
	height: 100%;
	border-image:
		repeating-linear-gradient(
			45deg,
			black,
			black 2px,
			#fff 2px,
			#fff 14px,
			black 14px,
			black 16px,
			#fff 16px,
			#fff 28px
		) 20 20;
}
