.avatar {
	margin: 10px;
}

.big-avatar {
	width: 60px;
	height: 60px;
}

.green-avatar {
	margin: 10px;
	background-color: #4caf50;
	color: #fff;
}

.orange-avatar {
	margin: 10px;
	background-color: #ff5722;
	color: #fff;
}

.pink-avatar {
	margin: 10px;
	background-color: #e91e63;
	color: #fff;
}

.purple-avatar {
	margin: 10px;
	background-color: #673ab7;
	color: #fff;
}

.row {
	display: flex;
	justify-content: center;
}
