.paper {
	z-index: 1;
}

.toolbar {
	min-height: auto;
	padding-right: 0;
	padding-left: 0;
}

.title {
	flex-grow: 1;
	margin: 0 8px !important;
	opacity: 0.25;
	font-size: 1.5em !important;
	white-space: nowrap;
}

.tab {
	min-width: 50px;
}
