.image-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.4;
}

.image-marked {
	position: absolute;
	bottom: -2;
	left: calc(50% - 9px);
	width: 18;
	height: 3;
}

.image {
	position: relative;
	height: 200px;

	&:hover {
		z-index: 1;
	}

	&:hover .image-backdrop {
		opacity: 0.15;
	}

	&:hover .image-marked {
		opacity: 0.4;
	}
}

.image-button {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
}

.image-src {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center 40%;
	background-size: cover;
}

.image-title {
	position: relative;
}

.root {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	min-width: 300;
	height: 600px;
}
