.toolbar {
	min-height: auto;
	padding-right: 0;
	padding-left: 0;
}

.root {
	width: 100%;
}

.tabs-wrapper {
	display: inline-flex;
	align-items: center;
	overflow: hidden;
}

.tab > span {
	display: inline;
}
