.node {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0 0 0 / 16%), 0 3px 6px rgba(0 0 0 / 23%);
}

.interaction {
	width: 100%;
	height: 100%;
}
