<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>" target="_blank">
		<meta name="viewport" content="initial-scale=1, maximum-scale=5">
		<meta http-equiv="X-UA-compatible" content="IE=Edge">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<!-- jss -->
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
