.paper {
	position: relative;
	width: 100%;
	min-height: 60px;
}

.chip > span {
	display: inline-block;
	max-width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	opacity: 0.3;
	font-style: italic;
}
